@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    }

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    border: yellow;
    
  }
  
  .header {
    grid-area: header;
    background-color: rgba(0,0,0,0.8995973389355743) 


  }
  
  .main {
    grid-area: main;
    background-color: #ffffff;
  }
  
  .footer {
    grid-area: footer;
    background-color: rgba(0,0,0,0.8995973389355743) ;
    color: #fdfdfd;
    
  }

  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
    "header" 100px
    "main"     auto
    "footer "  100px;
  }


 /* header*/
header {
  display: flex;
  
  align-items: center;
  padding: 30px 10%;
  background-color: #030033;
  box-shadow: 0px 0px 20px 0;

}
li {
    list-style: none;
    float: left;
    color: #ffffff;
    padding-right: 10px;
    
}
a{
  color: #ffffff;
}
a:hover{
  color: rgb(16, 139, 47);
}

/*conf de lista producto*/


.carrusel{
  width:100%;
  text-align: center;
}

img:hover{ 
  -webkit-transform: scale(1.5);
  transform: scale(1.5)
}

.product  {
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  width: 200px;
  height: 160px;
  margin: 20px;

    }
  
.product:hover{
  color: #1abb50;
}
.navbar-expand-lg{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8995973389355743) ;
  
}


#tabla1{
  border-color: green;
  font-size: 20px;

}

 












  

