


footer {
    position: relative;
    width: 100%;
    height: 230px;
    border: 1px none;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    cursor: url(img/iconmonstr-cursor-31.svg), auto;
    
    
  }
  .contenedor {
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: translatey(200px);
    transition: .5s;
  } 
  .contenedorActivo {
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: translatey(0px);
    transition: 1s;
  } 
  .botonFooter {
    position: relative;
    width: 200px;
    height: 25px;
    margin: 0 auto;
    background: rgb(29, 158, 40);
  }
  .botonFooter > p {
    text-align: center;
  }
  .footer {
    width: 100%;
    height: 200px;
    background: rgb(29, 158, 40);
    cursor: url("img/cursor-png-1120.png"), auto;
  }
  
  #imagen {
     height: 100px;
     width: 100px;
     display:block;
     margin:auto;
  }


  

  